
*.png
*.xlsx
test*.ipynb
settings.ini
*.ini
*.ini
docs/
Output/
Calibration/
Fitting/
*.pyc

TGA_FTIR_tools/settings/*.xlsx

*.egg-info
*/__pycache__/
TGA-FTIR-hyphenation-tool-kit.code-workspace
TGA_FTIR_tools/settings/import_profiles/profiles/*
